BACKEND_URL=http://localhost:8000
SSE_URL=http://localhost:8000/sse
AUTH_DEVICE_ID=auth_device_id
AUTH_SECRET_KEY=auth_secret_key[uuid]

COOL_SMS_API_KEY=COOL_SMS_API_KEY
COOL_SMS_SECRET_KEY=COOL_SMS_SECRET_KEY
SENDER_PHONE_NUMBER=SENDER_PHONE_NUMBER
PHONE_NUMBERS=PHONE_NUMBER1,PHONE_NUMBER2
